*, *::before, *::after {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Noto Sans';
  }
  .main-container {
    width: 350px;
    height: 580px;
    margin: 120px auto 300px; 
  }
  .main-image-container {
    display: none;
  }
  .header > img {
    width: 75%;
  }
  .top-container {
    text-align: center;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
  }
  input[type="password"], input[type="email"], input[type="submit"] {
    width: 80%;
    padding: 10px 8px;
    margin-bottom: 5px;
    background: #F8F8F8;
    border: 1px solid	#D0D0D0;
    border-radius: 3px;
  }
  input[type="submit"] {
    margin: 10px 0 20px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background: rgb(0, 149, 246);
    border: none;
    border-radius: 10px;
  }
  .inner-bottom-container {
    width: 80%;
    margin: auto;
  }
  h4 {
    display: flex;
    flex-direction: row;
    color: rgb(115, 115, 115);
    font-weight: 600;
    font-size: 14px;
  }
  h4:before, h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgb(115, 115, 115);
    opacity: 0.4;
    margin: 0px auto 10px;
  }
  h4:before {
    margin-right: 15px;
  }
  h4:after {
    margin-left: 15px;
  }
  .facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  .facebook > img {
    width: 10%;
    margin-right: 5px;
  }
  .facebook > a {
    color: rgb(56, 81, 133);
    font-size: 12px;
  }
  .facebook > a, .forgot-password, .middle-container > a {
    text-decoration: none;
  }
  .forgot-password {
    display: block;
    color: rgb(0, 55, 107);
    margin-bottom: 18px;
    font-size: 13px;
  }
  .middle-container {
    border: 1px solid lightgrey;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    padding: 25px 0;
  }
  .middle-container > p {
    margin-right: 5px;
    font-size: 14px;
  }
  .middle-container > a {
    color: rgb(0, 149, 246);
    font-weight: 600;
    font-size: 14px;
  }
  .bottom-container {
    text-align: center;
  }
  .bottom-image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 18px
  }
  .bottom-container img {
    width: 140px;
  }
  .footer {
    height: 135px;
    width: 80vw;
    margin: 0 auto 55px;
    font-size: 13px;
    text-align: center;
  }
  .top-footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  .top-footer-container > a {
    display: block;
    margin: 4px 7px;
    text-decoration: none;
    color: rgb(115, 115, 115);
  }
  .bottom-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(115, 115, 115);
  }
  .bottom-footer-container > select {
    border: none;
    width: 70px;
    margin-right: 10px;
    color: rgb(115, 115, 115);
    font-weight: 400;
  }
  .bottom-footer-container > h6 {
    font-size: 12px;
    font-weight: 400;
  }
  /* Large devices (laptops/desktops, 875px and up) */
  @media only screen and (min-width: 875px) {
    .outer-container {
      display: flex;
      width: 760px;
      margin: auto;
    }
    .main-image-container {
      display: block;
      width: 350px;
      height: 580px;
      margin: 120px auto 300px;
    }
    .main-image-container > img {
      width: 350px;
      height: 613px;
    }
  }